body {
      font-family: Arial;
      margin:0;
      padding:0;
}

.about{
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #8D4338, #C97534, #FBE870, #5D7447, #09568D, #E6C1F2,  white);
    padding: 20px;
    width: 40vw;
    height: 50vh;
    top:50%;
    transform: translate(50%, 50%);

}

a{
  color:white;
  text-decoration: none;

}

a:active {
  text-decoration: underline;
}

h1 {
    font-weight: normal;
    font-size: 1.0rem;
    margin: 0;
}


/* reset button style */
button {
    font-size: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    top: 0;
    left:50%;
}



.filter {
      padding: 3rem;
      width:100%;
      height:.5vw;
      cursor: pointer;
      z-index:1000;
      position: fixed; /* z-index will only work when position is relative, absolute, sticky, or fixed */
      top: 0;

}

.js-red{
      color:#8D4338;
      background-color: #8D4338;
}

.js-orange{
      color: #C97534;
      background-color: #C97534;
}

.js-yellow{
      color: #FBE870;
      background-color: #FBE870;
}

.js-green{
      color: #5D7447;
      background-color: #5D7447;
}
.js-blue{
      color: #09568D;
      background-color: #09568D;
}
.js-purple{
      color: #E6C1F2;
      background-color: #E6C1F2;
}


.scenes{
    display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-gap: 2rem;
  	flex-basis: 0;
  	flex-grow: 999;
  	width: 100vw;
    margin:0;
    padding:0;
}


.scene-image {
   width:33.3vw;
   height:20vh;
   float:left;
   margin:0;
   padding:0;
   transition: transform .2s; /* Animation */
}

.scene-image:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
