@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Indie+Flower&display=swap');



html{
  background-color: lightyellow;
}


h1{
  font-family: 'Fredoka One', cursive;
  font-size: 6.3vw;
  color: #5696CE;
}

h2{
  font-family: 'Fredoka One', cursive;
  font-size: 5.3vw;
  color: #FBE870;
  text-shadow: -2px 0 #B89179, 0 2px #B89179, 2px 0 #B89179, 0 -2px #B89179;
}

p{
  font-family: 'Indie Flower', cursive;
}
/*
img{
  position:relative;
  left: 50%;
  transform: translateX(-50%);

}*/

a{
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  pointer-events: none;
}

.slider-container{
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}



.dots{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots span{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #979797;
  opacity: .3;
  margin-right: .5rem;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.dots span.dots_active{
  opacity: 1;
}

.dots span:last-child{
  margin-right: 0;
}

.dots span:hover{
  opacity: .6;
}

.slider{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  will-change: transform;
}

.slider .slider__item{
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.slider__item:nth-child(even){
  background: rgb(123, 122, 122);
}

.arrows{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.arrows__item{
  cursor: pointer;
  font-size: 3rem;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  margin: 0 1rem;
}


@media screen and (min-width: 768px) {
  html{
    background-color:#B89179;
  }
  h1 {
   font-size: 52px;
   color: #BCE5BF;
 }

 h2{
   color: #FFFFC2;

 }
 p {
   font-size: 18px;
 }



}

@media screen and (min-width: 1024px) {
  html{
    background-color:#C3C7D4;
  }
  h1 {
   font-size: 48px;
   color: #714D49;
 }

 h2{
   color: #DCDD48;

 }
 p {
   font-size: 25px;
   color:#72A96F;
 }

}
